h1 {
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  padding-left: 260px;
  color: #8d8c8d;
}
#searchForm {
  display: block;
  margin: 0 auto;
  padding-left: 270px;
}
h2 {
  font-family: "Fira Sans", sans-serif;
  color: #8d8c8d;
}
#date {
  margin-bottom: 0;
  font-weight: bold;
  color: #8d8c8d;
}

#synopsis {
  text-transform: capitalize;
}
.container {
  width: 300px;
  display: block;
  margin: 40px 40px 80px;
  border: solid 1px black;
  margin-bottom: 10px;
  background-color: rgb(243, 239, 234);
}

#temp {
  font-size: 25px;
  font-weight: bolder;
}
#synopsis {
  color: #0972e1;
  font-weight: bold;
}
#weatherIcon {
  width: 100px;
  height: 100px;
}
#degrees {
  font-size: 25px;
  font-weight: bolder;
}
#windSpeed {
  color: #0972e1;
  font-weight: bold;
}
#mph {
  color: #0972e1;
  font-weight: bold;
}

#humidity {
  color: #0972e1;
  font-weight: bold;
}

#percentage {
  color: #0972e1;
  font-weight: bold;
}
.weatherInfo {
  padding-left: 50px;
}

#dayRow {
  text-align: center;
}
#iconRow {
  text-align: center;
}
#tempRow {
  text-align: center;
}
