h1 {
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  padding-left: 260px;
}
#searchForm {
  display: block;
  margin: 0 auto;
  padding-left: 270px;
}
h2 {
  font-family: "Fira Sans", sans-serif;
}
#date {
  margin-bottom: 0;
  font-weight: bold;
}

.container {
  width: 300px;
  display: block;
  margin: 40px 40px 80px;
  border: solid 1px black;
  margin-bottom: 10px;
}

#temp {
  font-size: 25px;
  font-weight: bolder;
}
#synopsis {
  color: #0972e1;
  font-weight: bold;
}
#degrees {
  font-size: 25px;
  font-weight: bolder;
}
#windSpeed {
  color: #0972e1;
  font-weight: bold;
}
#humidity {
  color: #0972e1;
  font-weight: bold;
}

.weatherInfo {
  padding-left: 50px;
}

#dayRow {
  text-align: center;
}
#iconRow {
  text-align: center;
}
#tempRow {
  text-align: center;
}
